{% extends "./base.html" %}

{% block content %} 
{% load crispy_forms_tags %}
<div class="col-lg-4 mx-auto border rounded p-3 mt-4"style="background-color:#e3f2fd ;">
    <form action="/login" method="post">
     {% csrf_token %}
     
    <h1 class="display-6 mt-3 text-center" style="font-family: SemiCondensed;">Login Here</h1>
    <div class="text-center pt-4">
        <img height="150px" src="https://inktothepeople.com/images/uploaded/Ink%20Logos/ink-logo-red1.png" alt="">

    </div>
  
     <hr>
     {{ form|crispy }}
 <div class="form-group">
   <input type="Submit" value="Login" class="btn btn-info">
 </div>
 <hr>
 <div 
  style="font-family: SemiCondensed;" >
  Don't have an account? <a href="/signup">Sign Up</a>
 </div>
 
    </form>
 </div>

{% endblock %}


